<div id='main-navigation' >
  <div class="left-nav">
    <%= link_to "Julilicoco", root_path, class: 'name' %>
    <a href="https://www.instagram.com/julilicoco/"><i class="fa fa-instagram social"></i></a>
    <a href="https://www.facebook.com/Julilicoco/"><i class="fa fa-facebook social"></i></a>
  </div>

  <div class="right-nav">
    <% if user_signed_in? %>
      <div>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </div>
    <% else %>
      <%= link_to "LES RECETTES", articles_path, class: 'link-nav'  %>
      <%= link_to "RECETTES SUCRÉES", articles_path, class: 'link-nav'  %>
      <%= link_to "RECETTES SALÉES", articles_path, class: 'link-nav'  %>
    <% end %>
  </div>
</div>
